#include <stdint.h>

#ifndef __{{fileBasenameNoExtension | upper | replace "-", "_"}}_H__
#define __{{fileBasenameNoExtension | upper | replace "-", "_"}}_H__

typedef struct _{{fileBasenameNoExtension | replace "-", "_"}}
{

}{{fileBasenameNoExtension | replace "-", "_"}}_t;

#endif /* __{{fileBasenameNoExtension | upper | replace "-", "_"}}_H__ */
