#include <stdint.h>

#ifndef __{{fileBasenameNoExtension|upper}}_H__
#define __{{fileBasenameNoExtension|upper}}_H__

typedef struct _{{fileBasenameNoExtension}}
{

}{{fileBasenameNoExtension}}_t;

#endif /* __{{fileBasenameNoExtension|upper}}_H__ */
